{:source-paths ["src"]

 :nrepl {:port 8450}
 :dev-http {7777 "public"}

 :dependencies [[re-frame "1.0.0-rc2"]
                [reagent "1.0.0-alpha2"]]
 :builds {:app {:target :browser
                :modules {:main {:init-fn app.core/init}}
                :output-dir "public/js"
                :asset-path "/js"}}}